<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with collegues.
			  </li>
			  <li>
				  <b>
			  </li>
			  	</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				Currently I teach coding to secondary school leavers 
				and university undergraduates who can't afford school so they'll be able to raise money.
          	</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at Edo Technovate
  			</li>
  			<li>
  			  Of course I love coding. It's the core of my blood.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
